server {
    listen 8080;
    server_name localhost example.com;
    client_max_body_size 10M;

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;

    location / {
        allowed_methods GET POST;
        root /var/www/html;
        index index.html;
        autoindex off;
    }

    location /uploads {
        allowed_methods POST GET;
        root /var/www/uploads;
        autoindex on;
        upload_dir /var/www/uploads;
    }
}